<%
  content_for :page_title, t('updated_terms_of_use', 'Updated Terms of Use')
  jammit_css :terms_and_condition
  @headers = false
%>

<% @terms = @domain_root_account.terms_and_condition %>
<div id="modal-box" class="login-box">
    <div id="modal-box-inner">
      <h2 style="width: 50%;"><%= t 'updated_terms_of_use', ' Terms and Conditions  ' %></h2>
      <div>
        <h3>
          <%= "In order to finish signing you up for the Jigsaw, You have to accept the Terms and Conditions" %>
        </h3>
      </div>
      <% form_for :terms_and_condition,:url=> account_terms_and_condition_url(@domain_root_account,@terms),:html=>{:method => :put,:id => "modal-box-inner"} do |f|%>

    <div style="margin-top: 35px">
        <%= @terms.terms_and_conditions.html_safe %>
      </div>
      <div align="right">
        <input type="checkbox"  id="receive_informations" value="1"    />
        <%= f.label :information, :en => "I want to receive information, news and tips from Jigsaw Academy"%>
      </div>
      <div id="check_box" style="text-align: center" class="<%= root_url %>">
        <input type="checkbox"  id="enable_terms_and_conditions" value="1" class="<%= account_terms_and_condition_url(@domain_root_account,@terms) %>"   />
        <%= f.label :enable_terms_and_conditions, :en => " I Agree to the Terms of Jigsaw Academy" %>
      </div>
      <div>
        <button id="terms_accept_submit" type="submit" class="btn btn-primary submit_button" onclick="validateCheckbox(event)"><%= t(:accept_terms_and_conditions, "Accept") %></button>
      </div>
      <%end %>
    </div>

</div>




